@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5% 96%;
    --foreground: 222 84% 5%;
    --card: 0 0% 100%;
    --card-foreground: 222 84% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 84% 5%;
    --primary: 221 83% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 216 34% 17%;
    --muted: 217 33% 50%;
    --muted-foreground: 215 20% 65%;
    --accent: 210 40% 96%;
    --accent-foreground: 216 34% 17%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 221 83% 53%;
    --radius: 1rem;
  }
 
  .dark {
    --background: 220 13% 9%;
    --foreground: 0 0% 98%;
    --card: 220 13% 11%;
    --card-foreground: 0 0% 98%;
    --popover: 222 84% 5%;
    --popover-foreground: 0 0% 98%;
    --primary: 188 85% 53%;
    --primary-foreground: 210 40% 9.8%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 0 0% 98%;
    --muted: 217 33% 50%;
    --muted-foreground: 215 20% 65%;
    --accent: 217 33% 17%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 188 85% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
